# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/backend/node_modules
/travel/node_modules
/travel/.pnp
/travel/.pnp.js
/node_modules
/package-lock.json
/package.json

# testing
/travel/coverage

# production
/travel/build

# misc
/travel/.DS_Store
/travel/.env.local
/travel/.env.development.local
/travel/.env.test.local
/travel/.env.production.local

/travel/npm-debug.log*
/travel/yarn-debug.log*
/travel/yarn-error.log*

/.VSCodeCounter