.welcome {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: url(./bg1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.stuff{
    background-color:grey; 
    color:white; 
    margin:20px;
    padding-left: 50px;
    padding-right: 50px;
}

#button{
    width:100px;
    margin-bottom:20px;
}