#paper {
    /* margin-top: "8"; */
    display: 'flex';
    flex-direction: column;
    align-items: center;
}
#avatar {
    margin: "1";
    background-Color: "pink";   
}
form {
    width: '100%';
    margin: "1";
}